{% extends 'base.html' %}


{% block content %}

<section class="py-30 flex-grow">
    {% include 'includes/message.html' %}
    <div>
        <div class="flex justify-center gap-5 mx-50 items-start">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="border border-gray-300 shadow rounded w-2/3">
                <article>
                    <header class="border-b border-gray-300 shadow px-4 py-2">
                        <strong class="d-inline-block mr-3">Edit your profile</strong>
                    </header>
                    <div class="flex justify-center items-center text-center my-5">
                        {% if user_profile.profile_image %}
                        <img src="{{user_profile.profile_image.url}}" alt="Profile Picture"
                            class="rounded-full size-20 object-contain">
                        {% else %}
                        <div><i class="fa-solid fa-user fa-4x"></i></div>
                        {% endif %}
                    </div>
                    <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="px-15">
                            <div class="flex justify-between gap-10">
                                <div class="flex flex-col w-full">
                                    <label>First Name</label>
                                    {{user_form.first_name}}
                                </div>
                                <div class="flex flex-col w-full">
                                    <label>Last Name</label>
                                    {{user_form.last_name}}
                                </div>
                            </div>
                            <div class="flex justify-between gap-10 py-2">
                                <div class="flex flex-col w-full">
                                    <label>Phone Number</label>
                                    {{user_form.phone_number}}
                                </div>
                                <div class="flex flex-col w-full">
                                    <label>Profile Image</label>
                                    {{profile_form.profile_image}}
                                </div>
                            </div>
                            <div class="flex justify-between gap-10 py-2">
                                <div class="flex flex-col w-full">
                                    <label>Address</label>
                                    {{profile_form.address}}
                                </div>
                            </div>
                            <div class="flex justify-between gap-10 py-2">
                                <div class="flex flex-col w-full">
                                    <label>Ctiy</label>
                                    {{profile_form.city}}
                                </div>
                                <div class="flex flex-col w-full">
                                    <label>state</label>
                                    {{profile_form.state}}
                                </div>
                            </div>
                            <div class="flex justify-center">
                                <button
                                    class="bg-blue-600 text-white rounded my-5 py-2 w-1/2 hover:cursor-pointer hover:bg-blue-700">Save</button>
                            </div>
                        </div>
                    </form>
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>

{% endblock %}