{% extends "base.html" %}

{% block content %}


<main class="p-40 flex flex-col items-center">
    <div class="flex flex-col items-center px-20 py-10 bg-white rounded w-120">
        {% include 'includes/message.html' %}
        <h1 class="p-5 text-2xl font-semibold">Forgot Password</h1>
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            <div class="flex flex-col gap-3 w-80">
                <div class="flex flex-col">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter Your Email" name="email" class="outline-none border rounded p-2">
                </div>
                <div class="flex justify-center pt-5">
                    <button type="submit" class=" py-2 px-20 bg-gray-800 text-white rounded hover:bg-gray-900">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="p-5">
        <p>Don't have an account?<span class="text-blue-600 hover:text-blue-700 hover:underline"><a href="{% url 'sign_up' %}"> create account</a></span></p>
    </div>
</main>

{% endblock %}