{% extends "base.html" %}
{% load static %}

{% block title %}Vogona Fashion{% endblock %}

{% block content %}

<main class="px-50 pt-30 pb-10">
    {% include 'includes/message.html' %}
    <section class="flex justify-between bg-white">
        <div class="p-10 w-1/2 border border-gray-200 flex justify-center">
            <div>
                <img class="object-cover" src="{{product.images.url}}" alt="">
            </div>
        </div>
        <div class="p-10 w-1/2 border border-gray-200 flex flex-col justify-evenly">
            <div class="flex justify-between items-center">
                <h3 class="font-semibold text-2xl">{{product.company_name}}</h3>
                <div class="rating-star font-medium text-sm">
                    <span>
                        <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <span>{{product.count_review}} reviews</span>
                    </span>
                </div>
            </div>
            <h2 class="text-xl font-medium">{{product.product_name}}</h2>
            <p class="font-normal text-gray-600">{{product.discription}}</p>
            <p class="font-semibold">RS. <span>{{product.price}}</span></p>
            {% if product.stock <= 0 %} <h1 class="text-2xl text-red-800 font-semibold">Out of stock</h1>
                {% else %}

                {% comment %} {% if cart_item %}
                <div class="flex justify-center text-xl font-semibold text-green-500">
                    <h1><i class="fa-solid fa-circle-check"></i> Added to cart</h1>
                </div>
                <div class="py-1">
                    <a href="#">
                        <p
                            class="flex justify-center items-center border-2 bg-gray-800 text-white p-2 rounded-lg hover:bg-gray-950">
                            Proceed to Buy</p>
                    </a>
                </div>
                <div class="py-1">
                    <a href="{% url 'cart' %}">
                        <p class="flex justify-center items-center border-2  p-2 rounded-lg hover:bg-black/20">
                            Go to Cart</p>
                    </a>
                </div>
                {% else %} {% endcomment %}
                <form action="{% url 'add_item' product.id %}" method="POST" class="w-full flex flex-col gap-15">
                    {% csrf_token %}
                    <div class="w-full flex justify-evenly">
                        <div>
                            <select name="color" required
                                class="outline-none cursor-pointer border-2 border-gray-400 hover:border-gray-600 rounded p-2 hover:bg-black/5">
                                <option value="" disabled selected>Select Color</option>
                                {% for i in product.variation_set.colors %}
                                <option class="cursor-pointer" value="{{ i.variation_value | lower }}">{{
                                    i.variation_value | capfirst }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <select name="size" required
                                class="outline-none cursor-pointer border-2 border-gray-400 hover:border-gray-600 rounded p-2 hover:bg-black/5">
                                <option value="" disabled selected>Select Size</option>
                                {% for i in product.variation_set.sizes %}
                                <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="w-full">
                            <p class="flex justify-center items-center border-2  py-2 rounded-lg hover:bg-black/20">Add
                                to Cart</p>
                        </button>
                    </div>
                </form>
                {% comment %} <div>
                    <a href="#">
                        <p
                            class="flex justify-center items-center border-2 bg-gray-800 text-white py-2 rounded-lg hover:bg-gray-950">
                            Buy Now</p>
                    </a>
                </div>
                {% endif %} {% endcomment %}

                {% endif %}

        </div>
    </section>
    <h5 class="font-bold text-2xl my-10">Write Yor Review</h5>
    <div class="mx-25">
        <div>
            <form action="{% url 'product_review' product.id %}" method="POST">
                {% csrf_token %}
                <div>
                    <!-- Rating stars -->
                    <h6 class="font-semibold text-xl">How do you rate this product?</h6>
                    <div class="rate">
                        <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10"
                            title="5"></label>
                        <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9"
                            title="4.5" class="half"></label>
                        <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8"
                            title="4"></label>
                        <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7"
                            title="3.5" class="half"></label>
                        <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6"
                            title="3"></label>
                        <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5"
                            title="2.5" class="half"></label>
                        <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4"
                            title="2"></label>
                        <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3"
                            title="1.5" class="half"></label>
                        <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2"
                            title="1"></label>
                        <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1"
                            title="0.5" class="half"></label>
                    </div>
                    <br>
                    <h6 class="font-semibold text-xl">Review Title:</h6>
                    <input type="text" class="border-2 rounded w-full" name="subject">
                    <br>
                    <h6 class="font-semibold text-xl">Review:</h6>
                    <textarea name="review" rows="4" class="border-2 rounded w-full"></textarea>
                    <br>
                    <div class="text-center my-10">
                        {% if user.is_authenticated %}
                        {% if order_product %}
                        <button type="submit"
                            class="bg-blue-500 py-2 px-6 rounded-lg text-white hover:bg-blue-600 font-bold">Submit
                            Review</button>
                        {% else %}
                        <p>You must purchase this product to post a review.</p>
                        {%endif %}
                        {% else %}
                        <p>You must be logged in to post a review. <span><a class="text-blue-500 border-b-2"
                                    href="{% url 'login' %}">Login now</a></span></p>
                        {% endif %}
                    </div>
                </div>
                {% include 'includes/message.html' %}
            </form>
        </div>
    </div>

    <div class="mx-5">
        <div class="flex justify-between my-10">
            <h3 class="font-bold text-2xl">Customer Reviews</h3>
            <div class="rating-star font-bold text-2xl">
                <span>
                    <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}"
                        aria-hidden="true"></i>
                    <span>{{product.count_review}} reviews</span>
                </span>
            </div>
        </div>
        {% for review in reviews %}
        <div class="text mx-20 my-5 p-5 border-2 border-gray-300 rounded">
            <div class="flex justify-between">
                <h6 class="text-xl font-semibold">{{review.user.full_name}} </h6>
                <span class="text-sm text-gray-500">{{review.updated_at}} </span>
            </div>
            <div class="rating-star px-2">
                <span>
                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"
                        aria-hidden="true"></i>
                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"
                        aria-hidden="true"></i>
                </span>
            </div>
            <div class="px-2">
                <p class="text-lg">{{review.subject}}</p>
                <p class="text-lg">{{review.review}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>



{% endblock %}