<!-- navbar start -->
{% load static %}
<header>
    <nav class="bg-white/50 h-20 w-screen fixed z-20 backdrop-blur-xs">
        <div class="px-30 flex justify-between items-center p-4 border-b border-gray-800">

            <div class="h-10">
                <a href="{% url 'home' %}"><img class="h-10 w-30 border-2 rounded hover:border-4 object-cover"
                        src="../../../static/images/VOGONA.png" alt=""></a>
            </div>

            <div class="flex items-center">
                <form method="GET" action="{% url 'search' %}" role="search" class="flex items-center h-10 w-100 shadow-2xl">
                    <input type="text" placeholder="Search" name="product_search"
                        class="w-full h-full border-2 border-gray-800 rounded-l px-2  outline-none">
                    <button type="submit"
                        class="px-4 h-full rounded-r cursor-pointer bg-gray-800 text-white hover:border-2 hover:border-gray-800"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <div>
                <a class="border-2 px-4 py-3 rounded hover:border-4 hover:border-gray-800"
                    href="{% url 'all_products' %}">All Products</a>
            </div>

            <div>
                <a href="{% url 'cart' %}"><div class="flex items-center h-10 text-2xl px-4 py-1 bg-gray-800 text-white rounded hover:border-2 hover:border-gray-800"><i class="fa-solid fa-cart-shopping "></i>
                <span class="text-xl">{{cart_count}}</span>
                </div>
                </a>
            </div>
        </div>
    </nav>
</header>
<!-- navbar end -->