<!-- navbar start -->
{% load static %}
<header>
    <nav class="bg-gray-300 w-screen z-10 fixed">
        <div class="px-20 flex justify-between items-center py-2">

            <div>
                <a href="{% url 'home' %}"><img
                        class="h-10 border-2 border-gray-600 rounded hover:border-gray-950 hover:bg-gray-400 object-contain"
                        src="../../../static/images/VOGONA.png" alt=""></a>
            </div>

            <div class="flex items-center">
                <form method="GET" action="{% url 'search' %}" role="search">
                    <div class="flex h-10 w-100">
                        <input type="text" placeholder="Search" name="product_search"
                            class="w-full h-full border-2 border-gray-500 rounded-l px-2 hover:border-gray-950  outline-none">
                        <button type="submit" class="px-4 h-full rounded-r cursor-pointer bg-gray-600 text-white hover:bg-gray-950">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>

            <div>
                <a class="border-2 p-2 rounded border-gray-600 hover:border-gray-950 hover:bg-gray-400 font-semibold"
                    href="{% url 'all_products' %}">All Products</a>
            </div>
            {% if user.id is None %}
            <div class="flex items-center">
                <a class="font-semibold hover:underline px-1" href="{% url 'sign_up' %}">Sign up</a>
                <strong>/</strong>
                <a class="font-semibold hover:underline px-1" href="{% url 'login' %}">Login</a>
            </div>
            {% else %}
            <div class="flex flex-col items-center">
                <div class="flex flex-col space-y-0">
                    <p class="text-xs font-medium m-0 leading-tight">Hello, <a href="{% url 'dashboard' %}">
                        <span class="text-sm font-semibold hover:underline">{{user.first_name | capfirst}}</span></p></a>
                    <div class="leading-tight">
                        <a class="hover:underline text-xs font-medium" href="{% url 'dashboard' %}">Dashboard/</a>
                        <a class="hover:underline text-xs font-medium" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
            {% endif %}

            <div>
                <a href="{% url 'cart' %}">
                    <div
                        class="p-1 flex items-center text-xl border-2 border-gray-600 text-gray-950 rounded hover:bg-gray-400 hover-border-gray-950">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="text-xl">{{cart_count}}</span>
                    </div>
                </a>
            </div>
        </div>
    </nav>
</header>
<!-- navbar end -->